
body {
    --color1: #ffffff;
    --color2: #ffffff;
    --color3: #ffffff;
    --color4: #ffffff;
    --color5: #ffffff;

    --header-height: 80px;
    --shadow: 0px 10px 20px -12px rgba(0,0,0,0.45);
    --gutter: 40px;
    --footer-height: 20px;
    
    font-family: 'Titillium Web', sans-serif;
    background-color: var(--color2);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #41B3A3;
   
}

section {
    background-color: var(--color5);
    width: 1000px;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: var(--gutter);
    padding-bottom: var(--gutter);
    margin-top: var(--gutter);
    margin-bottom: var(--gutter);
    border: solid 2px var(--color1);
}

header {
    display: flex;
    justify-content: flex-end;
    background-color: #e8a87c;
    height: var(--header-height);
    box-shadow: var(--shadow);
}

footer {
    display: flex;
    justify-content: flex-end;
    background-color: var(--color3);
    box-shadow: var(--shadow);
}


h2 {
    font-size: 1.8rem;
    font-weight: bold;
}

img {
    width: 300px;
    height: 200px;
}

content {
    width: 90%;
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: var(--footer-height);
    display: flex;
    justify-content: flex-end;
    background-color: #e8a87c;
    box-shadow: var(--shadow);
}

[type='radio']:checked + img {
    transform: 1.25em;
    border: solid 8px #e27d60 ; 
}

input[type='radio'] {
    display: none;
}


/* CLASSES================================================================================================================ */
.gutter-right {
    margin-right: 20px;
}

.row-pictures {
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-image: url('../assets/warb.jpg');
}

.instruct {
    font-weight: 800;
    background-color: #f64c72;
}

.beneath {
    background-color: #f64c72;
    font-weight: 900;
}
/* IDS====================================================================================================================== */

#shoot-button {
    font-size: large;
}

#reset {
    border-radius: 30px;
}

#what-happened {
    font-size: xx-large;
}

/* #knife {
    height: 300;
    width: 200;
} */


/* OTHER==================================================================================================================== */

@keyframes pulse {
    20% {
        transform: rotate3d(-10, -10, -10, 50deg) scale(1.2);
    }
    
    40% {
        transform: rotate3d(10, 10, -10, 50deg) scale(1);
    }
    
    60% {
        transform: rotate3d(-10, 10, 10, 50deg) scale(1.2);
    }
    
    80% {
        transform: rotate3d(10, 10, 10, 50deg) scale(1);
    }
    
  }